@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body{
    background-color: bisque;
}
.wrapper{
    width: auto;
    background: darkblue;
    color: white;
    padding: 30px;
    margin: 0 auto;
}

.logos{
    margin-top: 30px;
}

#logo-dhbw{
    float: right;
    padding: 0 5px;
    transition: all .2s ease-in-out; 
}

#logo-dhbw:hover{
    transform: scale(1.1);
}

#logo-onlinemedien{
    float: right;
    padding: 0 5px;
    transition: all .2s ease-in-out; 
}

#logo-onlinemedien:hover{
    transform: scale(1.1);
}

.header-footer-h1{
    font-family: 'Ubuntu', sans-serif;    
    font-weight: 700;
    font-size: 35px;
}

.header-footer-h2{
    font-family: 'Ubuntu', sans-serif;    
    font-weight: 300;
    font-size: 15px;
}

.command-headline{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #7FBF3F;
}

h1{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: red;
    padding-top: 40px;
    font-size: 25px;
}

h2{
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

p{
    font-family: 'Ubuntu', sans-serif;    
    font-weight: 400;
}

.button-back{
    margin: 50px 0px;
}

.go-back{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 12px;
    border-color: red;
    color: red;
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
}

.go-back:hover{
    background-color: red;
    border-color: red;
    color: white;
    transition: 0.5s ease-out;
}

.erklaerung-area{
    margin: 30px;
}

.topic-selection{
    margin: auto;
}

ul{
    list-style: none;
    text-align: center;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    margin: 0px 5px;
    padding: 20px;
    color: #7FBF3F;
    border: 2px solid;
    border-radius: 10px;
    border-color: #7FBF3F;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700; 
}

ul li a:hover{
  background-color: #7FBF3F;
  color: white;
  transition: 0.5s ease-out;
}

footer{
    background-color: #333;
    color: white;
    padding: 30px;
    margin: 0 auto;
    width: auto;  
}

.container {
    background-color: #eeeeee;
    min-height: 30rem;
    display: flex;
}

/* Individuelle CSS-Regeln */

/* Sophie*/
.sophie {
    background-color: pink;
}